.container{
    display: flex;
    justify-content: space-between;
    
}

.my-input{
    height: 32px;
    min-width: 50%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 
                0px 6px 24px rgba(0, 0, 0, 0.04), 
            inset 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    border: none;
    margin: 10px;
    font-family: Arial, FontAwesome;
    padding-left: 10px;


}
.my-input:focus{
    outline: none;


}
.my-button{
   margin: 10px !important;
}
.search,.filter{
    width: 70%;
}
.filter{
    display: flex;
    justify-content: end;
}
.my-button-mobile{
    display: none !important;
}
@media only screen and (max-width: 600px) {
    .my-button{
        display: none !important;
      
      
      
    }
    .my-button-mobile{
        display:block !important;
        top: 12px;
        right: 10px;
    }
    
  }
  @media only screen and (max-width: 600px) {
    
    .my-input{
        min-width: 300px !important;
    }
    
  }
 

