.add-button {
    background-color: rgb(93, 95, 239,0.9);
    color: white;
    outline: none;
    border: none;    
    cursor: pointer;
    border-radius: 13px;
    padding: 0px 15px;
    height: 50px;
    font-size: 15px;
    transition: 0.5s;

}
.add-button:hover {
    background-color: rgb(93, 95, 239,1);    

}
.more-button{
    text-align: center;
    background-color: white;
    
    
    outline: none;
    border: none;
    
    border-radius: 13px;
    padding: 0px 20px;
    height: 50px;
    font-size: 20px;
    
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 
                0px 6px 24px rgba(0, 0, 0, 0.04), 
            inset 0px 1px 1px rgba(0, 0, 0, 0.04);
    

}
.newChat {
        
    min-width: 130px;
    height: 130px;    
    /* position: relative; */
    overflow: hidden;   
    margin: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 
                0px 6px 24px rgba(0, 0, 0, 0.04), 
            inset 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.newChatAdd{
    width: 50px;
    height: 50px;
    border: 3px dashed rgb(240, 242, 242);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    
    align-items: center;
    align-self: center;
    font-size: 30px;
    

}
.plus{
    text-align: center;
    padding-bottom: 6px;
    margin: auto;
}
.myDot{
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
    margin: 2px;
}
.myButtonL{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.04);

    
}
.myButtonR{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

}
