.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
    
    
  }
  @media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
        
        padding: 5px 5px;
        row-gap: 10px;
        column-gap: 10px;
        width: 100%;
        
      }
    
    
  }
  .myBadge{
    height: 50px;
    width: 50px;
    background-color: rgb(242, 242, 242);
    font-size: 14px;
    text-align: center;
    border-radius: 13px;
    padding: 5px;
  }