.BottomBar {
    height: 30px;

    border-top: 1px solid rgba(241, 241, 241);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

}

.buttonBottomBar {
    border-radius: 13px;
    outline: none;
    height: 30px;
    border: none;
    padding: 0px 20px;
    transition: 1s;
    background-color: white;

}

.buttonBottomBar:hover {
    outline: none;

    border: none;
    background-color: rgb(93, 95, 239);
    background: linear-gradient(180deg, rgba(93, 95, 239, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 59%, rgba(93, 95, 239, 1) 100%);


}

.buttonBottomBar:active {
    
    background-color: rgb(93, 95, 239);
    background: linear-gradient(180deg, rgba(93, 95, 239, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 59%, rgba(93, 95, 239, 1) 100%);

}