.user-container {
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
    left: 10px;
    margin-right: 20px;
  }
  
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  
  .status-user {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid white;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  .status-user-online {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    border: 2px solid white;
    bottom: 0;
    right: 0;
    position: absolute;
  }


.card {
    /* width: auto;
    min-width: 200px;
    height: auto;
    min-height: 150px; */
    /* position: relative; */
    overflow: hidden;    
    
    display: flex;
    flex-direction: row;
    
    flex: auto;
    
}
.card-container {
    width: 100%;
    
    min-width: 200px;
    height: auto;
    min-height: 150px;
    /* position: relative; */
    overflow: hidden;    
    margin: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 
                0px 6px 24px rgba(0, 0, 0, 0.04), 
            inset 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    
}
@media only screen and (max-width: 600px) {
    .card-container{
        width: 90%;
      
      
      
    }
  }

.icon-container{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    height: 70px;
    align-items: center;
    
}

.icon-bg{
    background-color: rgba(242,244,248);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
    width: 32px;
    height: 32px;

}








/* .onlineBadge{
    position: absolute;
    background-color: black;
    bottom: 0px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;


}




.card-game>div>img {
    width: 50px;
    height:  50px;
    object-fit: cover;
    filter: blur(0px) brightness(50%);
    transition: 0.3s;
    border-radius: 50%;
    top:10px;
    left: 10px;
    position: absolute;

}

.card-game:hover>img {

    filter: blur(5px) brightness(50%);

}

.card-game>p {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 10px 10px;

}

.card-game>a {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 80px;
    left: 130px;
    background-color: #222;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.5s;



}

.card-game:hover>a {
    opacity: 1;
}

.card-game>div {
    position: absolute;
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(-45deg,
            transparent 0 10px,
            rgba(255, 255, 255, 0.4) 10px 20px);
}  */

/* .card-game>div:first-of-type {
    top: 0px;
}

.card-game>div:last-of-type {
    bottom: 0px;
}  */