.App {
  display: flex;
  width: 100%;
  
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
}
.jcc{
  justify-content: center;
  align-items: center;
  
  
  
}
.aic{
  align-items: center;
  margin-left: 5px;
}
.jcb{
  justify-content: space-between;
}
.wAuto{
  width: auto;
  box-sizing:border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.w3{
  width: 100%;
  display: flex;
  flex-direction: row;
  
  justify-content:space-around;
  column-count: 3;
  
  
}
.w100{
  width: 100%;
  
  

}

.w100children{
  width: calc(100% - 20px) !important;
  padding: 0px;
  

}
@media only screen and (min-width: 600px) {
  .dnone{
    display: none !important;
    bottom: 0px;
  }
}
@media only screen and (max-width: 600px) {
  
  .w3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    column-count: 1;
    
    
  }
  .row{
    column-count: 1;
    display: flex;
    flex-direction: column;
    
  }
  .aic{
    align-items: flex-start;
    margin-left: 10px;
  }
  .d600none{
    display: none !important;
  }
  
  
}
.mr10{
  margin-right: 10px;
}
.ml10{
  margin-left: 10px;
}
.ml10>h1{
  margin-left: 30px;
}

.ml10>h4{
  margin-bottom: 0px !important;
}
.ml10>p{
  margin-top: 10px !important;
  font-size: 14px;
}
.Mui-selected {
  background-color: white !important;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px 6px 24px rgba(0, 0, 0, 0.04), inset 0px 1px 1px rgba(0, 0, 0, 0.04) !important;
}

.MuiPagination-ul>li:first-child{
  margin-right: 20px !important;
}
.MuiPagination-ul>li:last-child{
  margin-left: 20px !important;
}
.MuiPagination-ul>li>button{
  padding:20px 15px !important;
   margin:0px !important;
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px 6px 24px rgba(0, 0, 0, 0.04), inset 0px 1px 1px rgba(0, 0, 0, 0.04) !important;
  border: 1px solid #f2f2f2!important;
}
.d-flex{
  display: flex;
}
.MuiOutlinedInput-root{
  
  
  border-radius: 13px !important;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px 6px 24px rgba(0, 0, 0, 0.04), inset 0px 1px 1px rgba(0, 0, 0, 0.04) !important;
}
.ml10>h4{
    width: 420px;
}
.aic{
  align-items: center;
}

.loadMoreButton{
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.loadMoreButton>p{
  text-align: center;
  margin: 1px;
}
.loadMoreButton>p:first-child{
  text-align: center;
  margin-bottom: 5px;
}
.navbar{
  width:50%;
  box-sizing: border-box;
}




